/* src/styles/themes/dark.css */
:root {
  --color-primary: #0d6efd;
  --color-background-primary: #212529;
  --color-background-secondary: #343a40;
  --color-text-primary: #f8f9fa;
  --color-border: #495057;
}